<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro de Usuario
            </div>
            <div class="card-body">
                <form (submit)="signIp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="userRegistrado.ID" name="Usuario" class="form-control" placeholder="Registro Académico" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="userRegistrado.name" name="Nombre" class="form-control" placeholder="Nombres" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="userRegistrado.apellidoUser" name="Apellido" class="form-control" placeholder="Apellidos" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" [(ngModel)]="userRegistrado.emailUser" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="userRegistrado.passwordUser" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
