<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-8">
        <div class="card text-white bg-dark mb-3 sombra">
            <div class="text-center">
                <h2 align="center">Publicaciones</h2>
                <br><br>
                <button type="button" class="btn btn-primary btn-lg sombra">Crear Publicacion</button>
                <br><br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Publicacion</th>
                            <th scope="col">Mensaje</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Catedratico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Bienvenidos!</th>
                            <td>Bienvenidos al 2020</td>
                            <td>12/11/2020</td>
                            <td>Practicas Iniciales</td>
                            <td>Carlos Jimenez</td>
                        </tr>
                    </tbody>
                </table>


                <br><br>
            </div>
        </div>
    </div>
</div>