<div class="b-footer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5>Integrantes:</h5>
                <p>201901444 - Geovanni Eduardo Nufio Illescas</p>
                <p>201901604 - Ana Belen Contreras Orozco</p>
                <p>201807307 - Victor Alejandro Cuches de León</p>
                <p>201907136 - Rebeca Rosalinda Garcia Elias</p>
                <p>201908316 - Karen Lisbeth Morales Marroquin</p>
                <p>201906099 - Daniel Moises Chan Pelico</p>
            </div>
            <div class="col-6 text-center">
                <h5>USAC</h5>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>© 2020 SCUSAC, All rights reserved.</p>
</footer>